
/* Importa a fonte Baskerville do Google Fonts com a variante itálica e normal (0 e 1). 
   A opção 'display=swap' é adicionada para garantir uma troca rápida e evitar o flash de texto não estilizado. */
@import url('https://fonts.googleapis.com/css2? family= Baskervville:ital@0;1 & display=swap');

/* Configurações globais para redefinir estilos padrão */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

.exercise-page {
    display: grid;
    color: #2a2a2a;
    grid-template-areas:
        "cabe cabe cabe"
        "prin prin prin"
        "roda roda roda"
        "secn secn secn";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.main-page{
    display: grid;
    color: #545454;
    grid-template-areas:
        "cabe cabe cabe"
        "prin prin prin"
        "roda roda roda"
        "secn secn secn";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Início do estilo para o header */

/* Estilo do cabeçalho principal */
.main-header {
    grid-area: cabe;
    background-color: #878874;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    z-index: 99;
}

/* Estilo do título do site no cabeçalho */
header .site-title  {
    color: #fff;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Baskervville', serif;
    text-decoration: none;
}

/* Estilo do menu principal */
.main-header ul {
    flex: 1;
    display: flex;
    justify-content: center;
}

.main-header ul li {
    list-style: none;
}

/* Estilo dos itens do menu principal */
.main-header ul li a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8);
    font-family: 'Baskervville', serif;
    padding: 0 1em;
    display: inline-block;
    font-size: 18px;
    transition: all .2s linear;
}

/* Estilo dos itens do menu principal ao passar o mouse */
.main-header ul li a:hover {
    color: #fff; 
}

/* Estilo dos ícones sociais */
.social-icon {
    display: flex;
    align-items: center;
}

/* Estilo dos links sociais */
.social-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    margin-right: 20px;
    transition: color 0.3s ease;
}

/* Estilo dos links sociais ao passar o mouse */
.social-link:hover {
    color: #fff;
}

/* Estilo dos ícones sociais SVG */
.social-link svg {
    width: 18px;
    height: 18px;
    fill: hwb(0 100% 0% / 0.8);
    margin-right: 8px;
    transition: transform 0.3s ease, fill 0.3s ease;
}

/* Estilo específico para o ícone do Instagram ao passar o mouse */
.instagram-icon:hover svg {
    fill: #fff;
    transform: scale(1.4);
}

/* Estilo específico para o ícone do TikTok ao passar o mouse */
.tiktok-icon:hover svg {
    fill: #fff;
    transform: scale(1.4);
}

/* Estilo específico para o ícone do Twitter ao passar o mouse */
.twitter-icon:hover svg {
    fill: #fff;
    transform: scale(1.4);
}

/* Fim do estilo para o header */

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Início do estilo para o main da página principal */




/* Estilo do main da página principal */
.main-container {
    grid-area: prin;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

/* Estilo para o título h1 específico */
h1 {
    color: #5b5c4a;
    font-family: "Baskerville Display", serif;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Estilo para o título h2 */
.main-container h2 {
    color: #5b5c4a;
    font-family: "Baskerville Display", serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Estilo para o título h3 */
.main-container h3 {
    color: #5b5c4a;
    font-family: "Baskerville Display", serif;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Estilo para parágrafos dentro de .texto-completo */
.texto-completo p {
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Estilo para a lista personalizada (.custom-list) */
.custom-list {
    list-style-type: none;
}

/* Estilo para os marcadores de lista personalizada */
.custom-list li::before {
    content: "✧";
    margin-right: 0.5em;
}

/* Estilo para o contêiner .texto-completo */
.texto-completo {
    margin-top: 20px;
}

/* Estilo para imagens dentro de .main-container */
.main-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Estilo para legendas de imagens */
figcaption {
    text-align: center;
    font-style: italic;
    color: #666;
    margin-top: 10px;
}

/* Estilo para links dentro de .texto-completo */
.texto-completo a {
    color: #007bff;
    text-decoration: none;
}

/* Estilo para links hover dentro de .texto-completo */
.texto-completo a:hover {
    text-decoration: underline;
}

/* Estilo para a seção de exercícios */
.exercise-section {
    text-align: center;
    margin-top: 20px;
}

/* Estilo para o botão de exercício */
.exercise-button {
    display: inline-block;
    padding: 13px 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    background-color: #878874;
    border-style: solid;
    border-width: 1px;
    border-color: #5B5C4A;
    border-radius: 30px;
    margin: 50px;
    transition: background-color 0.3s ease;
}

/* Estilo para o botão de exercício ao passar o mouse */
.exercise-button:hover {
    background-color: #5b5c4a;
}

/* Fim do estilo para o main */

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Início do estilo para o main (página de exercícios) */



/* Defina a área da página de exercícios */
.exercise-page {
    grid-area: prin;
}

/* Estilize o contêiner da pergunta */
.question-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.question-container h3 {
    color: #5b5c4a;
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #5B5C4A;
    padding-bottom: 8px;
}

.question-container p {
    line-height: 1.5;
    color: #333;
}

/* Estilo para feedback de resposta correta */
.verde{
    background-color: green;
    color: #fff;
 }
 
 /* Estilo para feedback de resposta errada */
 .vermelho{
    background-color: red;
    color: #fff;
 }

.result-text {
    margin-top: 20px;
    font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Início do estilo para o footer */

footer {
    grid-area: roda;
    background-color: #ececec;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 50px 30px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #90897C;
}

/* Estilo para o menu no footer */
.main-menu-footer{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

/* Estilo para os links no menu do footer */
.main-menu-footer a {
    color: #2a2a2a;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
    padding: 15px;
    transition: color 0.3s ease-in-out;
}

/* Efeito de hover nos links do menu do footer */
.main-menu-footer a:hover {
    color: #878874; 
}

/* Estilo para o logotipo no footer */
.footer-logo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para a imagem no logotipo do footer */
.footer-logo img {
    width: 100px; 
    height: auto;
}

/* Estilo para os ícones sociais no footer */
.footer-social-icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    width: 100%;
}

/* Estilo para os links dos ícones sociais no footer */
.footer-social-link {
    display: inline-block;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

/* Define o estilo padrão para os ícones sociais no rodapé */
.footer-social-link svg {
    width: 25px; 
    height: 25px;
    fill: #2a2a2a; 
}

/* Define o estilo quando o mouse passa sobre os ícones sociais no rodapé */
.footer-social-link:hover svg {
    fill: #90897c;
}

/* Fim do estilo para o footer */

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Início do estilo para o section */

section{
    grid-area: secn;
    background-color: #e2dedb;
}

/* Estilo para a classe copyright */
.copyright {
    text-align: center;
    padding: 25px;
    color: #90897c;
}

/* Estilo para os parágrafos dentro da classe copyright */
.copyright p {
    margin: 0;
    font-size: 15px;
}

/* Estilo para os links de privacidade */
.privacy-link {
    color: #2a2a2a;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Efeito de hover para os links de privacidade */
.privacy-link:hover {
    color: #90897c;
}

/* Fim do estilo para o section */

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {
    .main-page {
        grid-template-areas:
            "cabe cabe cabe"
            "prin prin prin"
            "roda roda roda"
            "secn secn secn";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 820px) {
    .main-page {
        grid-template-areas:
            "cabe cabe"
            "prin prin"
            "roda secn";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .main-page h1 {
        margin: 0 auto; 
        font-size: clamp(2em, 2em + 2vw, 1.6em);
    }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 480px) {

    .main-page {
        grid-template-areas:
            "cabe"
            "prin"
            "roda"
            "secn";
        grid-template-columns: 3fr;
        grid-template-rows: auto auto auto;
    }


}