header{
    grid-area: cab;
    color:aquamarine;
}
main{
    grid-area: pri;
}
footer{
    grid-area: rod;
}
body{
    background-image: url(fundo.jpg);
    display: grid;
    grid-template-areas: 
        "cab cab"
        "pri pri"
        "rod rod";
    grid-gap: 5px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto 1000px auto;
}
@media only screen and (max-width: 820px) {
    body{
        grid-template-areas: 
        "cab"
        "pri"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    }   
    header img{
        display: none;
    } 
}
@media only screen and (max-width: 480px) {
    body{
        grid-template-areas: 
        "sec"
        "pri"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }
    section{
        display: flex;
    }
    aside{
        display: none;
    }
    header{
        display: none;
    }
}
